<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/preface.css">
    <link rel="stylesheet" href="css/sightreader.css">
  </head>
  <body>
    <div class="container">
        <h3>ABC Sightreader</h3>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12" id="status" title="Status">1. Select your mic 2. Select your ABC file 3. Press start</div>
        </div>
        <div class="row-fluid controls">
            <div class="span12">
                <label for="devices">Microphone:</label>
                <select id="devices"></select>
                <label for="profiles">Profile:</label>
                <select id="profiles">
                    {% for profile_value, profile_name in profiles %}
                        <option value="{{profile_value}}">{{profile_name}}</option>
                    {% endfor %}
                </select>
                <input type="text" id="newProfile" style="display:none;" placeholder="Enter name and press enter" />
                <label for="file">File:</label>
                <select id="file">
                    <option value="">---Custom ABC---</option>
                    {% for fn in files %}
                        <option value="{{fn}}">{{fn}}</option>
                    {% endfor %}
                </select>
                <label for="tempo">Tempo:</label>
                <select id="tempo">
                    <option value="">inherit</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="90">90</option>
                    <option value="120">120</option>
                    <option value="180">180</option>
                    <option value="240">240</option>
                </select>
                <button id="start" disabled="disabled" title="Enable mic and begin playing along to sheet music.">Start</button>
                <button id="reset">Reset</button>
                <button id="tune" title="Enable mic and show pitch but don't play a game.">Tune</button>
            </div>
        </div>
        <div class="row-fluid" id='abc-textarea-container'>
            <div class="span-12">
                <textarea id="abc-textarea"></textarea>
            </div>
        </div>
        <div class="row-fluid main-display">
            <div class="row-fluid top-info">
                <div id="current-playlist-position" title="Playlist position." class="span4 left">-</div>
                <div id="qpm-display" title="QPM" class="span4 center">-</div>
                <div class="span4 right">
                    <span id="current-score" title="Your current score.">-</span>
                    <span id="score-stats" title="Score statistics."></span>
                </div>
            </div>
            <div class="span12" id="notation"></div>
            <span id="current-note" title="Expected and actual note detected on the microphone.">-</span>
            <span id="current-volume" title="Microphone volume.">-</span>
            <div id="midi" style="display:none;"></div>
            <span id="count-down"></span>
            <span id="loaded-filename">-</span>
        </div>
        <div class="row-fluid controls">
            <div class="span12 keyboard-legend">
                <!-- <img src="img/letter-s-icon.png" width="50" title="Start/Stop Game" />
                <img src="img/letter-r-icon.png" width="50" title="Reset Game" />
                <img src="img/letter-t-icon.png" width="50" title="Start/Stop Tuner" />
                <img src="img/letter-b-icon.png" width="50" title="Back One Playlist Item" />
                <img src="img/letter-n-icon.png" width="50" title="Next One Playlist Item" /> -->
                <span class="cb-field">
                    <input id="auto-continue" type="checkbox" />
                    <label for="auto-continue" title="Once score is above average, immediately move on to next playlist item.">Auto-Continue</label>
                </span>
                <span class="cb-field">
                    <input id="ignore-duration" type="checkbox" />
                    <label for="ignore-duration" title="If checked, will score a note if it's met and will not check duration.">Ignore Duration</label>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <ol id="playlist" class="list-group"></ol>
            </div>
        </div>
    </div>

    {#<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#message-model">Open Modal</button>#}
    <div class="modal fade" id="message-model" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align:center;"></div>
            </div>
        </div>
    </div>

    <script src="js/ext/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/ext/js.cookie.min.js" type="text/javascript"></script>
    {#<script src="js/ext/popper.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/flat-ui.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/p5.js" type="text/javascript"></script>#}
    {#<script src="js/ext/p5.dom.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/p5.sound.min.js" type="text/javascript"></script>#}
    {#<script src="js/ext/ml5.min.js" type="text/javascript"></script>#}
    <script src="js/ext/volume-meter.js" type="text/javascript"></script>
    <script src="js/ext/pitchdetector.js" type="text/javascript"></script>
    <script src="js/ext/abcjs_midi_6.0.0-beta.25-min.js" type="text/javascript"></script>
    <script src="js/ext/bootstrap.min.js" type="text/javascript"></script>

    {#<script src="js/sightreader.js?{{uuid}}" type="text/javascript"></script>#}
    <script src="js/bundle.js?{{uuid}}" type="text/javascript"></script>
  </body>
</html>
